* {
    box-sizing: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.chaikin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.toolbar-wrapper {
    display: flex;
    flex-direction: row;
}

.button {
    background-color: rgb(247, 247, 247);
    border: 2px solid rgb(247, 247, 247);
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    border: 2px solid rgb(247, 247, 247);
}
